geckodriver.log
data_scraper_env/
.vscode
sagehen_env/
sagehen_climate_data_APR1997-DEC2000
sagehen_climate_data_APR2000-DEC2000
.DS_Store
sagehen_climate_data_SEP2001-SEP2002.csv
Sagehen Data Exploration.webarchive
.ipynb_checkpoints/Sagehen Data Exploration-checkpoint.ipynb
__pycache__/sagehen_peewee.cpython-36.pyc
__pycache__/sagehen_pandas.cpython-36.pyc
snippets.txt
